@{
    ViewData["title"] = "Hakkımda";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Hakkımda</h1>
                    <span class="subheading">Namımızın büyüklüğü dostlarımızın büyüklüğündedir!!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Merhaba! Ben Mehmet Kadir Gülgün, 25 yaşındayım. Adnan Menderes Üniversitesi'nden inşaat mühendisliği derecesi ile mezun oldum. Ancak, tutkumun ve ilgimin doğrultusunda kariyerimi değiştirme kararı aldım.
                </p>
                <p>Şu anda Acun Medya Akademisi'nde backend eğitimi alıyorum ve yazılım dünyasına adım atmaya hazırlanıyorum. Bu yeni yolculukta kariyerimi kurmak ve kendimi geliştirmek için büyük bir heyecan duyuyorum.</p>
                <p>Backend geliştirme alanında yeteneklerimi ve bilgi birikimimi sürekli olarak arttırmak için çaba gösteriyorum. Yaratıcı çözümler üretmek, teknolojiyle ilgili yeni trendleri takip etmek ve bu alanda kendimi geliştirmek benim için bir tutku haline geldi.</p>
                <p>Bu portfolyo sayfası, hem geçmiş deneyimlerimi ve başarılarımı paylaşmak hem de gelecek hedeflerim ve projelerim hakkında sizleri bilgilendirmek için tasarlandı. Backend geliştirme alanındaki yeteneklerimi sergileyerek, sizlere benimle ilgili daha fazla bilgi edinme fırsatı sunuyorum.</p>
                <p>Kariyerimdeki bu yeni döneme hoş geldiniz! Umuyorum ki, bu portfolyo sayfası aracılığıyla benimle olan yolculuğumuza ortak olursunuz.</p>
            </div>
        </div>
    </div>
</main>