@{
    ViewData["title"] = "İletişim";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>İletişim</h1>
                    <span class="subheading">Siz benim geceleri uyuduğumu mu  zannediyorsunuz?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Bana aşağıdaki yöntemlerle de ulaşabilirsiniz:
                    <br />
                    E-posta: ornek@blogunuz.com
                    <br />
                    Sosyal Medya:
                    <br />
                    Twitter: @@blogunuz
                    <br />
                    Instagram: @@blogunuz
                    <br />
                    Facebook: facebook.com/blogunuz
                    <br />
                </p>
            </div>
        </div>
    </div>
</main>