html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none;
    }

ul {
    list-style: none;
}

li {
    padding: 20px 5px; 
    border: 1px solid black;    
}

.liste {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-flex {
    display: flex;
    gap: 10px;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #c0c0c0;
    border-bottom: 1px solid #EAEBF0;
    align-items: center;
}

.header .logo {
    color: black;
    font-size: 50px;
}

.nav-item a {
    font-size: 20px;
}

.nav-item .stok{
    background-color: #2c2c2c;
    color: #fff;
    padding: 5px 25px;
}

.nav-item .kasa {
    background-color: #fff;
    color: #2c2c2c;
    padding: 5px 25px;
}