@model List<Urun>

@{
    ViewData["Title"] = "Anasayfa";
}

<form method="post" action="/home/satinal">
    <ul>
        @foreach (var urun in Model)
        {
            <li><input type="radio" required name="Ad" value="@urun.Ad"/> Ürün: @urun.Ad - Fiyat: @urun.Fiyat - Stok: @urun.Stok </li>
        }
    </ul>
    <p><button>Satın Al</button></p>
</form>