@model int


<h1>@Model</h1>


<article class="flex flex-col shadow my-4">
    <!-- Article Image -->
    <a href="#" class="hover:opacity-75">
        <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=1">
    </a>
    <div class="bg-white flex flex-col justify-start p-6">
        
        <h1 class="text-2xl font-bold pb-3">Hakkımda</h1>
        <p class="pb-3">Merhaba, ben Mehmet Kadir Gülgün. 25 yaşındayım ve geleceği teknolojiyle şekillendirmeye kararlı bir yazılım geliştiriciyim. Acunmedya Akademi'nin sunduğu backend yazılım uzmanlığı eğitimi ile bilgi ve becerilerimi sürekli olarak geliştiriyorum. Kodlarla dans etmek benim için sadece bir tutku değil, aynı zamanda bir yaşam tarzı. Yenilikçi fikirler üretmek ve karmaşık problemlere çözümler bulmak beni heyecanlandırıyor. Hem bireysel olarak hem de takım halinde çalışmaya her zaman açığım çünkü inanıyorum ki en iyi sonuçlar işbirliğiyle elde edilir.</p>
        <p class="pb-3">Teknolojiye olan tutkum çocukluğumdan beri vardı. Bilgisayarlarla ilk tanıştığım günlerden itibaren, kod yazma ve yeni programlar oluşturma konusundaki merakım hiç azalmadı. Bu merak ve tutku, kariyerimin erken dönemlerinde yazılım geliştirme yolunda ilerlememi sağladı. Şimdi ise bu tutkuyu profesyonel bir kariyere dönüştürmek için eğitimimi tamamlıyorum ve gerçek dünya projelerinde deneyim kazanıyorum.</p>
        <p class="pb-3">Yazılım dünyasında her geçen gün yeni bir şey öğrenmek ve teknolojik gelişmeleri yakından takip etmek benim için hayati öneme sahip. Her proje, kendimi geliştirmek ve yeteneklerimi daha da ileriye taşımak için bir fırsat olarak görüyorum. Hem frontend hem de backend teknolojilerine hakimiyetimi arttırmak için sürekli olarak kendimi geliştiriyor, en son trendleri ve en iyi uygulamaları takip ediyorum.</p>
        <p class="pb-3">Sadece kod yazmakla kalmıyor, aynı zamanda etkili iletişim kurma ve problem çözme becerilerimi de sürekli olarak geliştiriyorum. Müşterilerin veya kullanıcıların ihtiyaçlarını anlamak ve onların gereksinimlerini karşılayacak çözümler üretmek, benim için sadece bir görev değil, aynı zamanda bir sorumluluktur. Bu nedenle, teknik yeteneklerimi desteklemek için iletişim ve problem çözme becerilerimi de sürekli olarak geliştiriyorum.</p>
        <p class="pb-3">Sonuç olarak, yazılım dünyasında kendimi sürekli olarak geliştirmek ve ilerlemek için kararlıyım. Amacım, teknolojiyi kullanarak insanların hayatlarını kolaylaştıracak ve dünyayı daha iyi bir yer haline getirecek çözümler üretmek. Bu yolculukta her zorluğun üstesinden gelmeye hazırım ve her yeni deneyimden öğreneceğim bir şeyler olduğunu biliyorum.</p>
    </div>
</article>