@model List<Post>

@foreach(var post in Model)
{
<article class="flex flex-col shadow my-4">
    <!-- Article Image -->
    <a href="/home/detay" class="hover:opacity-75">
        <img src="@post.ImgUrl">
    </a>
    <div class="bg-white flex flex-col justify-start p-6">
        @* <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a> *@
        <a href="/home/detay" class="text-3xl font-bold hover:text-gray-700 pb-4">@post.Title</a>
        <a href="/home/detay" class="pb-6">@post.Summary</a>
        <a href="/home/detay" class="uppercase text-gray-800 hover:text-black">Devamını Oku<i class="fas fa-arrow-right"></i></a>
    </div>
</article>
    
}




