@model List<Ilan>

@{
	ViewData["Title"] = "İlan Ekle";
}

<div class="container">
	<div class="row mb-2">
		<div class="col-sm-6"><strong>İlan Adı</strong></div>
		<div class="col-sm-2"><strong>Fiyat</strong></div>
		<div class="col-sm-2"><strong>Fotoğraf</strong></div>
		<div class="col-sm-2"><strong>Eklenme Tarihi</strong></div>
	</div>
	<form class="row g-3 mb-1" method="post" action="/Editor/IlanEkle" autocomplete="off">
		<div class="col-sm-6">
			<input type="text" class="form-control" style="background-color: white" name="Name" required placeholder="İlan Adı" />
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" style="background-color: white" name="Price" required placeholder="Fiyat" />
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" style="background-color: white" name="Img" required placeholder="Fotoğraf" />
		</div>
		<div class="col-sm-2">
			<input type="datetime-local" id="DateTime" name="Date" required>
		</div>
		<div class="col-sm-2 align-self-end">
			<button class="btn btn-primary">Ekle</button>
		</div>

		@if (ViewData["Mesaj"] != null)
		{
			<div class="alert alert-primary" role="alert">
				@ViewData["Mesaj"]
			</div>
		}
	</form>