@{
    ViewData["Title"] = "Editör";
}

<h4>Editör</h4>
<ul>
    <li><a href="/Editor/IlanEkle" target="_blank" style="text-decoration: none; color: cornflowerblue" >İlan Ekleme</li>
    <li><a href="/Editor/IlanGuncelle" target="_blank" style="text-decoration: none; color: cornflowerblue">İlan Güncelleme</li>
    <li><a href="/Editor/IlanSil" target="_blank" style="text-decoration: none; color: cornflowerblue">İlan Silme</li>
</ul>